@use 'src/styles/vars';
@use 'src/styles/extend';

.main {
  position: relative;
  margin: 0 auto;
  z-index: 1;
  background-color: vars.$color-light;
  @extend .margin-bottom;
  padding-bottom: 0.5rem;
  width: 80vw;
  margin: 0 auto;
  @extend .border-left;
  @extend .border-right;
  &__container {
    padding-bottom: 0.5rem;
    &--title {
      padding: 1rem 0 0.3rem 0;
      font-size: 0.6rem;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    &--infos {
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 600px) {
  .main {
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0 1rem;
  }
  .main__container {
    padding: 1rem;
    // text-align: left
    min-width: 20vw;
    &--title {
      font-size: 0.7em;
      letter-spacing: 2px;
      padding-bottom: 1rem;
    }
  }
}
